<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Catalogue</title>
</head>
<body>
<div class="container">
    <h1 class="mb-4"><%= film.nom%></h1>
    <div class="text-muted mb-2">par <%= film.realisateur%> - sortie le <%= film.date_de_sortie%> <br>
    <% if(film.statut == 'non-vu') {%>
        statut: <%= film.statut%>
    <% } else { %>
        <%= film.statut %> le <%= film.date_film_regarde %>

    <% } %>
    </div>
    <a href="/" class="btn btn-secondary">Retour au catalogue</a>
    <a href="/films/edit/<%= film.id%>" class="btn btn-info">Modifier</a>

    <div class="card-text mb-2"><%= film.description%></div>
</div>
</body>
</html>
